* {
    margin: 0px;

}

a:link {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

p {
    width: 550px;
}

.header,
.main,
.footer{    background: linear-gradient(270deg, #69fcd4, #ea87fd, #65fcf7);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 43s ease infinite;
    -moz-animation: AnimationName 43s ease infinite;
    animation: AnimationName 43s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}}

.header,
.main {padding-left: 10px;}


.header li{
    display: inline;
padding-left: 150px;
}

h1 {
    text-align: center;
}

.header h2 {
    padding-bottom: 10px;

}

.profile {
    border: solid;
    width: 400px;
}

.profile h3{
    font-size: 25px;
}

.text {
    padding-top: 15px;
    padding-bottom: 15px;

}

.skill {
    border: solid;
    width: 250px;
    margin-bottom: 15px;
}

.work {
    padding-top: 15px;
    border: solid;
    width: 420px;
}

.portfolio{
    border: solid;
    margin-top: 15px;
    width: 400px;
    
}
.footer {
    padding-top: 15px;
}
