* {
    margin: 0px;

}

a:link {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

p {
    width: 550px;
}

.header {
    background-color: rgb(221, 254, 255);
    padding-left: 10px;
}

.header li{
    display: inline;
padding-left: 150px;
}

h1 {
    text-align: center;
}

.header h2 {
    padding-bottom: 10px;

}

.profile {
    border: solid;
    width: 400px;
}

.profile h3{
    font-size: 25px;
}

.main {
    background-color: aquamarine;
    padding-left: 10px;

}

.text {
    padding-top: 15px;
    padding-bottom: 15px;

}

.skill {
    border: solid;
    width: 250px;
    margin-bottom: 15px;
}

.work {
    padding-top: 15px;
    border: solid;
    width: 420px;
}

.portfolio{
    border: solid;
    margin-top: 15px;
    width: 400px;
    
}
.footer {
    background-color: rgb(218, 214, 214);
    padding-top: 15px;
}
